<md-card>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span>Inventory</span>
      </h2>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <md-list flex>
      <md-list-item class="md-2-line" ng-repeat="item in $inv.items">
        <md-icon md-svg-src="assets/images/{{item.icon}}.svg" aria-label="{{item.name}}"></md-icon>
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p><ng-pluralize count="item.quant" when="{'0': 'No items', '1': '1 item', '{} items'}"></ng-pluralize></p>
        </div>
        <md-button class="md-icon-button" aria-label="Auction">
          <md-icon md-svg-src="assets/images/gavel.svg" aria-label="Auction"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-card>
