<md-card>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span>Player Stats</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Logout">
        <md-icon md-font-library="material-icons">power_settings_new</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="column">
    <div layout="row" layout-padding>
      <div flex="none">
        <md-icon md-font-library="material-icons">person</md-icon>
      </div>
      <div flex>
        <span>Falci</span>
      </div>
    </div>
    <div layout="row" layout-padding>
      <div flex="none">
        <md-icon md-font-library="material-icons">attach_money</md-icon>
      </div>
      <div flex>
        <span>1000</span>
      </div>
    </div>
  </md-content>
</md-card>
