<md-card>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>
        <span>Current Auction</span>
      </h2>
    </div>
  </md-toolbar>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{$auction.current.quant}} {{$auction.current.name}}</span>
        <span class="md-subhead">
          Auction by <strong>{{$auction.current.user.username}}</strong>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="form" layout="column">

        <div layout="row" layout-align="space-between center">
          <div>
            <div layout="row" layout-padding>
              <div flex="none">
                <md-icon md-font-library="material-icons">access_time</md-icon>
              </div>
              <div flex>
                <span>{{$auction.current.finishIn}} seconds left</span>
              </div>
            </div>
            <div layout="row" layout-padding>
              <div flex="none">
                <md-icon md-font-library="material-icons">attach_money</md-icon>
              </div>
              <div flex>
                <span>{{$auction.current.bid}} coins</span>
              </div>
            </div>
          </div>
          <div class="md-media-lg card-media">
            <md-icon md-svg-src="assets/images/bread.svg" aria-label="Bread" ng-style="{'font-size': '150px', height: '150px', width: '150px'}"></md-icon>
          </div>
        </div>


        <div layout="row" layout-padding>
          <md-input-container class="md-block" >
            <label>Your bid</label>
            <input type="number" ng-value="136" required md-no-asterisk name="bid" ng-model="bid" min="1" ng-min="136" ng-max="1000">
            <div ng-messages="form.bid.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="min">Your bid must to be greater than the current bid (135)</div>
              <div ng-message="max">Insufficient funds (max: 1000)</div>
            </div>
          </md-input-container>
          <div flex=""></div>
          <md-button>
            Place Bid
          </md-button>
        </div>

      </form>

      <pre>{{$auction.queue|json}}</pre>
      <pre>{{$auction.auction|json}}</pre>
    </md-card-content>
  </md-card>
